.music-list-item {

  .music-alias {
    color: #888;
    margin-left: 4px;
  }

  .play-btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -24px 0;
    background-image: url("../../source/icon/index_icon_2x.png");
    background-size: 166px 97px;
  }
}